* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f6f6;
}

.container {
  background-color: white;
  width: 360px;
  margin: 190px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.to-do-list {
  width: 100%;
}

table {
  width: 100%;
  background-color: white;
}

table a {
  text-decoration: none;
}

table td {
  width: 23.33%;
}

table td .paragraph {
  color: red;
}

.strike-through {
  font-style: italic;
  text-decoration: line-through;
}

table td img {
  width: 30px;
  margin: auto;
}

form {
  display: flex;
  position: relative;
}

.completedBtn {
  width: 100%;
  height: 40px;
  border: none;
  margin-top: 20px;
  color: rgb(82, 75, 75);
  cursor: pointer;
}

#addBtn {
  background-color: white;
  border: none;
  position: absolute;
  left: 320px;
  height: 40px;
  margin: auto;
}

.mainH {
  font-size: 20px;
}

.threeDotsImg {
  opacity: 0.5;
  cursor: move;
}

#returnImg {
  cursor: pointer;
}

#addBtn img {
  width: 20px;
}

#todo-input {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  height: 40px;
}

.clear-completed {
  width: 100%;
  height: 40px;
  border: none;
  color: rgb(64, 60, 60);
}

.edit {
  width: 310px;
  padding: 0 20px 0 5px;
  margin: auto;
  left: -25px;
  right: 0;
  position: absolute;
  height: 40px;
  border: none;
}

.edit:focus {
  outline: none;
}

.hide {
  display: none;
}

.editItem {
  display: none;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-style: italic;
}

td p {
  margin-left: 0;
}
